{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Try</title>
    <link rel="stylesheet" type="text/css"
        href="{% static 'try/css/style.css' %}" />
</head>
<body>
    <h1>{{title}}</h1>
    <table>
    <form action="{% url 'Index' %}" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <tr><td></td><td><input type="submit" value="ログイン"></td></tr>
        <tr><td><a href="{% url 'notLogin' %}">パスワードを忘れた方へ</a></td></tr>
    </form>
    </table>
</body> 